PORT=3000
JWT_SECRET=pharmaguard-super-secret-key-change-in-production
GOOGLE_CLIENT_ID=834778149632-4kdd50ccirah1m6ghk7ejjn5uj4egm83.apps.googleusercontent.com
FIREBASE_DATABASE_URL=https://medicineauth-f96b9-default-rtdb.firebaseio.com
OPENAI_API_KEY=your-openai-api-key
GEMINI_API_KEY=your-gemini-api-key
